<h1>Veja todas as pessoas aqui</h1>

<br><br>

<% @pessoas.each do |pessoa| %>
	<p>
		<%= pessoa.idade %> - 
		<%= pessoa.nome %>
		<%= link_to 'Apagar', pessoa_path(pessoa.id), method: :delete %>		
		<%= link_to 'Editar', edit_pessoa_path(pessoa.id) %>
	</p>
<% end %>