<h1>Hello Word!</h1>
<p>I'm <%= @nome %> </p>

<br><br><br>

<%= link_to 'Ver pessoas', pessoas_path %>
<%= link_to 'Adicionar Pessoa', new_pessoa_path %>

<br><br><br>

<h1>Quem eu sou: <%= @eu.nome %></h1>